# dependencies
/node_modules
/node_modules.nosync
/node_modules 2

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# data cache
/data/raw/
/data/enriched/

# sqlite
*.db
*.db-journal
*.db-wal
*.db-shm

# data files
*.csv
*.csv.gz
*.csv.zip
/logs/
/analysis-output/
